* {
    padding: 0;
    margin: 0;
}
html {
    background-color: #222;
}
main {
    
    display: flex;
    justify-content: center;
}
.calculadora {
    margin-top: 30px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, rgb(49, 49, 49), rgb(136, 136, 138));
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.input-tela {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 300px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 10px;
    outline: none;
}
.botoes {
    margin-bottom: 20px;
}
.botao-calc:hover {
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
}
.botao-calc {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 50%;
}